body {
	width: 1024px;
	height: 1024px;
	background-image: url("img/fon.png");
	display: block;
    margin: 0 auto;
}
.new {
	width: 503px;
	display: block;
	margin: 0 auto;
	height: 1024px;
}
.img {
 	display: block;
 	margin: 0 auto;
  	width: 200px;
 	height: 200px;
 	border: 1px solid grey;
}

.box1, .box2, .box3{
	border-bottom: 1px solid grey;
}
#ups1 {
	padding-left: 30px;
}
#ups2 {
	padding-left: 30px;
}
#ups3 {
	padding-left: 30px;
}
.menu {
	color: rgba(31, 31, 31, 0.8);
	font-size: 14px;
	line-height: 1.2;
}


